@keyframes scale {
	0% {
		transform: scale(0.3);
		opacity: 0.5;
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes up {
	0% {
		transform: scale(0.7) translateY(0);
		opacity: 0;
	}

	10% {
		transform: scale(0.7) translateY(0) ;
		opacity: 0;
	}

	40% {
		transform: scale(1) translateY(-10vmin) ;
		opacity: 1;
	}

	100% {
		transform: scale(1) translateY(-10vmin) ;
		opacity: 0;
	}
}
